In [29]:
import pandas as pd
import sqlite3

In [30]:
connection = sqlite3.connect("DB_proveedores.bd")

In [31]:
cursor_gestion = connection.cursor()

In [32]:
query_create = '''
CREATE TABLE PROV(
 ID_PROV           PRIMARY KEY NOT NULL,
 Nombre_proveedor  TEXT NOT NULL,
 Direccion         TEXT,
 Ciudad            TEXT,
 Provincia         TEXT
 )'''
cursor_gestion.execute(query_create)

OperationalError: table PROV already exists

In [33]:
query = "SELECT* FROM sqlite_master WHERE type == 'table'"
cursor_gestion.execute(query)
cursor_gestion.fetchall()

[('table',
  'PROV',
  'PROV',
  2,
  'CREATE TABLE PROV(\n ID_PROV           PRIMARY KEY NOT NULL,\n Nombre_proveedor  TEXT NOT NULL,\n Direccion         TEXT,\n Ciudad            TEXT,\n Provincia         TEXT\n )'),
 ('table',
  'PEDIDO_PROV',
  'PEDIDO_PROV',
  4,
  'CREATE TABLE PEDIDO_PROV(\n NUM_PEDIDO        PRIMARY KEY NOT NULL,\n ID_PIEZA          TEXT NOT NULL,\n ID_PROVEEDOR         TEXT,\n FECHA            TEXT,\n CANTIDAD         TEXT\n )'),
 ('table',
  'PIEZAS',
  'PIEZAS',
  6,
  'CREATE TABLE PIEZAS(\n ID_PIEZA        PRIMARY KEY NOT NULL,\n NOMBRE          TEXT NOT NULL,\n COLOR              TEXT,\n PRECIO            FLOAT NOT NULL,\n CATEGORIA         TEXT\n )'),
 ('table',
  'CATEGORIA',
  'CATEGORIA',
  8,
  'CREATE TABLE CATEGORIA(\n CODIGO_CAT        PRIMARY KEY NOT NULL,\n NOMBRE         TEXT\n )')]

In [34]:
#INSERT DATOS

datos={
"ID101" : ("Jose", "Barcelona"),
"ID102" : ("Sandra", "Bilbao"),
"ID103" : ("Theo", "Valencia")
}

for indice, (nombre, valores) in enumerate (datos.items()):
    Nombre = valores[0]
    Ciudad = valores[1]
    query= f"INSERT INTO PROV (ID_PROV, Nombre_proveedor, Ciudad) VALUES ('{indice}', '{Nombre}', '{Ciudad}')"
    cursor_gestion.execute(query)

IntegrityError: UNIQUE constraint failed: PROV.ID_PROV

In [9]:
connection.commit()

In [35]:
query = ''' SELECT* FROM PROV'''
df= pd.read_sql(query, connection)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_PROV           3 non-null      object
 1   Nombre_proveedor  3 non-null      object
 2   Direccion         0 non-null      object
 3   Ciudad            3 non-null      object
 4   Provincia         0 non-null      object
dtypes: object(5)
memory usage: 252.0+ bytes

In [36]:
connection.close()

In [37]:
# vuelvo a abrir connection
connection = sqlite3.connect("DB_proveedores.bd")
cursor= connection.cursor()

In [38]:
# CREACION TABLA 2
query_create = '''
CREATE TABLE PEDIDO_PROV(
 NUM_PEDIDO        PRIMARY KEY NOT NULL,
 ID_PIEZA          TEXT NOT NULL,
 ID_PROV         TEXT,
 FECHA            TEXT,
 CANTIDAD         TEXT
 )'''
cursor.execute(query_create)

OperationalError: table PEDIDO_PROV already exists

In [39]:
# CREACION TABLA 3
query_create = '''
CREATE TABLE PIEZAS(
 ID_PIEZA        PRIMARY KEY NOT NULL,
 NOMBRE          TEXT NOT NULL,
 COLOR              TEXT,
 PRECIO            FLOAT NOT NULL,
 CATEGORIA         TEXT
 )'''
cursor.execute(query_create)

OperationalError: table PIEZAS already exists

In [40]:
# CREACION TABLA 4
query_create = '''
CREATE TABLE CATEGORIA(
 CODIGO_CAT        PRIMARY KEY NOT NULL,
 NOMBRE         TEXT
 )'''
cursor.execute(query_create)

OperationalError: table CATEGORIA already exists

In [41]:
# INSERT DATOS TABLA 2
datos={
"PEDIDO_01" : ("IDP1234", "ID102", "20250115", 10),
"PEDIDO_02" : ("IDP9876", "ID102", "20250215", 2),
"PEDIDO_03" : ("IDP4567", "ID103", "20250128", 25)
}

for indice, (nombre, valores) in enumerate (datos.items()):
    ID_PIEZA = valores[0]
    ID_PROVEEDOR = valores[1]
    FECHA = valores[2]
    CANTIDAD = valores[3]
    query= f"INSERT INTO PEDIDO_PROV (NUM_PEDIDO, ID_PIEZA, ID_PROVEEDOR, FECHA, CANTIDAD) VALUES ('{indice}', '{ID_PIEZA}', '{ID_PROVEEDOR}','{FECHA}', {CANTIDAD})"
    cursor.execute(query)

IntegrityError: UNIQUE constraint failed: PEDIDO_PROV.NUM_PEDIDO

In [42]:
# INSERT DATOS TABLA 3
datos={
"ID10234" : ("clavo", 0.01, "gasto"),
"ID9876" : ("tornillo", 0.01, "gaasto"),
"ID9998" : ("mesas", 300 , "inversion"),
"ID9999" : ("ordenadores", 950, "inversion")
}

for indice, (nombre, valores) in enumerate (datos.items()):
    NOMBRE = valores[0]
    PRECIO = valores[1]
    CATEGORIA = valores[2]
    query= f"INSERT INTO PIEZAS (ID_PIEZA, NOMBRE, PRECIO, CATEGORIA) VALUES ('{indice}', '{NOMBRE}', {PRECIO}, '{CATEGORIA}')"
    cursor.execute(query)

IntegrityError: UNIQUE constraint failed: PIEZAS.ID_PIEZA

In [43]:
# INSERT DATOS TABLA 4
datos={
"gasto" : ("A1"),
"inversion" : ("B1"),
}

for indice, (nombre, valores) in enumerate (datos.items()):
    NOMBRE = valores[0]
    query= f"INSERT INTO CATEGORIA (CODIGO_CAT, NOMBRE) VALUES ('{indice}', '{NOMBRE}')"
    cursor.execute(query)

IntegrityError: UNIQUE constraint failed: CATEGORIA.CODIGO_CAT

In [44]:
connection.commit()

In [45]:
query = ''' SELECT* FROM PEDIDO_PROV'''
num_pedido= pd.read_sql(query, connection)
num_pedido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NUM_PEDIDO    3 non-null      object
 1   ID_PIEZA      3 non-null      object
 2   ID_PROVEEDOR  3 non-null      object
 3   FECHA         3 non-null      object
 4   CANTIDAD      3 non-null      object
dtypes: object(5)
memory usage: 252.0+ bytes

In [46]:
query = ''' SELECT* FROM PIEZAS'''
Piezas= pd.read_sql(query, connection)
Piezas.head()

  ID_PIEZA       NOMBRE COLOR  PRECIO  CATEGORIA
0        0        clavo  None    0.01      gasto
1        1     tornillo  None    0.01     gaasto
2        2        mesas  None  300.00  inversion
3        3  ordenadores  None  950.00  inversion

In [47]:
query = ''' SELECT* FROM CATEGORIA'''
categoria= pd.read_sql(query, connection)
categoria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO_CAT  2 non-null      object
 1   NOMBRE      2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes

In [48]:
connection.commit()

In [49]:
connection.close()

In [50]:
connection = sqlite3.connect("DB_proveedores.bd")
cursor= connection.cursor()

In [54]:
query = '''
SELECT FECHA, CANTIDAD, ID_proveedor, ID_PIEZA
FROM PEDIDO_PROV
'''
cursor.execute(query)
cursor.fetchall()

[('20250115', '10', 'ID102', 'IDP1234'),
 ('20250215', '2', 'ID102', 'IDP9876'),
 ('20250128', '25', 'ID103', 'IDP4567')]